builddir/
*.swp
*.swo
*.log
require.lock-*
autosave/sav/
autosave/req/info_settings*.req
autosave/req/info_positions*.req
tmp/
support/
SeaBreeze/
O.*/
TEST/
lib/
db/
dbd/
bin/
include/
.vscode/
OLD/
info*